

<div class="row py-5">
<div class="col-md-3 image">
    <img class="w-100" [src]="imgPrefix+(movieDetails.poster_path)" alt="">
  
</div>
<div class="col-md-8">
<h2>{{movieDetails.original_title}}</h2>
<p>{{movieDetails.overview}}</p>
<ul>
    <li><span>popularity : </span> {{movieDetails.popularity}}</li>
    <li><span>vote :</span>  {{movieDetails.vote_average}}</li>
    <li><span>vote_count : </span> {{movieDetails.vote_count}}</li>
    <li *ngIf="movieDetails.tagline"><span>tagline:</span>  {{movieDetails.tagline}}</li>
   
</ul>
<div class="mt-5">
    <button class="btn btn-primary btn-lg mx-4 play">play</button>
    <button class="btn btn-outline-light btn-lg">watch trailer</button>
</div>
</div>
<div class="stars">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="far fa-star"></i>
  </div>
</div>

