
<div class="row py-4">
    
    <div class="col-md-4 d-flex align-items-center">
    <div>
        <div class="brdr w-25 mb-4"></div>
        <h2>Trending <br> Movies <br>
        To Watch Right Now</h2>
        <p class="text-muted">most watched-movies by day</p>
        <div class="brdr w-25 mt-4"></div>
    </div>
    </div>
<div *ngFor="let movie of trendingMovies" class="col-md-2">
    <div class="movies">
        <div class="layer"></div>
        <a [routerLink]="['/moviedetails',movie.id]">
             <div class="box">
                <img class="w-100" [src]="imgPrefix+movie.poster_path" alt="">
                <div class="content"></div>
             </div>
            <h3 class="h6 mb-3">{{movie.title}}</h3>
        </a>
       
    </div>
</div>
</div>

<div class="row py-5">
    <div class="col-md-4 d-flex align-items-center">
    <div>
        <div class="brdr w-25 mb-4"></div>
        <h2>Trending <br> Tv <br>
        To Watch Right Now</h2>
        <p class="text-muted">most watched-Tv by day</p>
        <div class="brdr w-25 mt-4"></div>
    </div>
    </div>
<div *ngFor="let tv of trendingTv" class="col-md-2">
    <div class="tvs">
        <a [routerLink]="['/tvdetails',tv.id]">
           <div class="box">
            <img class="w-100" [src]="imgPrefix+tv.poster_path" alt="">
            <div class="content"></div>
           </div>
            <h3 class="h6 mb-3">{{tv.name}}</h3>
        </a>
    </div>
   
</div>
</div>

<div class="row py-5">
    <div class="col-md-4 d-flex align-items-center">
    <div>
        <div class="brdr w-25 mb-4"></div>
        <h2>Trending <br> people <br>
        To Watch Right Now</h2>
        <p class="text-muted">most watched-people by day</p>
        <div class="brdr w-25 mt-4"></div>
    </div>
    </div>
<div *ngFor="let people of trendingPeople" class="col-md-2">
    <div class="people">
      <a [routerLink]="['/peopledetails',people.id]" >
        <div class="box">
            <img class="w-100" [src]="people.profile_path" alt="">
            <div class="content"></div>
        </div>
        <h3 class="h6 mb-3">{{people.name}}</h3>
      </a>
    </div>
</div>
</div>
